<app-header></app-header>
<main role="main" class="container">
  <div class="jumbotron">
    <h1>O que é Fundo Imobiliário - {{cdb.nome}}</h1>

    <p class="lead">
        Fundo de investimento imobiliário (“FII”) é uma comunhão de recursos destinados à aplicação em empreendimentos imobiliários. O FII é constituído sob a forma de um condomínio fechado,[1] sendo dividido em cotas, que representam parcelas ideais do seu patrimônio.
    </p>
    <p class="lead">
        O investidor pode adquirir cotas de um FII através da subscrição e integralização de cotas no mercado primário, ou através da aquisição de cotas no mercado secundário. Nas operações realizadas no mercado primário, os recursos utilizados pelo investidor para integralização das cotas são diretamente direcionados ao patrimônio do FII. Já nas operações no mercado secundário, um investidor adquire de outro investidor uma cota já emitida pelo FII.
    </p>

  </div>
</main>
<app-footer></app-footer>
