<app-header></app-header>
<main role="main" class="container">
  <div class="jumbotron">
    <h1>O que é Ação</h1>

    <p class="lead">
        Ações (AO 1945: acções), também chamadas simplesmente de "papéis", são as parcelas que compõem o capital social de uma empresa, ou seja, são as unidades de títulos emitidas por sociedades anônimas.
    </p>        
    <p class="lead">
         Quando as ações são emitidas por companhias abertas ou assemelhadas, são negociados em bolsa de valores ou no mercado de balcão.
    </p>
    <p class="lead">
        As ações representam a menor fração do capital social de uma empresa, ou seja, é o resultado da divisão do capital social em partes iguais, sendo o capital social o investimento dos donos na empresa, ou seja, o patrimônio da empresa, esse dinheiro compra máquinas, paga funcionários etc. O capital social, assim, é a própria empresa.
    </p>
    <p class="lead">
        “	A companhia aberta é a instituição mais democrática do mundo: não importam raça, sexo, religião ou nacionalidade, qualquer um pode tornar-se sócio de uma empresa de capital aberto, por meio da compra de ações. É um exemplo da verdadeira igualdade de oportunidade.
    </p>

  </div>
</main>
<app-footer></app-footer>

