<p>cdb works!</p>
<p>clientes works!</p>
<table class = "table">
<thead>
<tr>
    <th scope="col">#</th>>
    <th scope="col">Nome</th>>
    <th scope="col">Valor Taxa</th>>
    <th scope="col">Vencimento</th>>   
    <th scope="col">Data da Compra</th>>   
    

</tr>
</thead>
<tbody>
    <tr *ngFor="let cdb of cdbs">
        <td>{{cdb._id}}</td>>
        <td>{{cdb.nome}}</td>>
        <td>{{cdb.valor_taxa}}</td>>
        <td>{{cdb.vencimento}}</td>>        
        <td>{{cdb.data_compra}}</td>>        
        
    </tr>
</tbody>
</table>
