<div>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" [(ngModel)]="cdb.nome" id="nome" placeholder="Nome">
    </div>
    <div class="form-group">
      <label for="taxa">Taxa</label>
      <input type="number" class="form-control" [(ngModel)]="cdb.valor_taxa" id="taxa" placeholder="valor da taxa">
    </div>
    <div class="form-group">
      <label for="vencimento">Vencimento</label>
      <input type="date" class="form-control" [(ngModel)]="cdb.vencimento" id="vencimento" placeholder="valor da vencimento">
    </div>
    <div class="form-group">
      <label for="data_compra">data_compra</label>
      <input type="date" class="form-control" [(ngModel)]="cdb.data_compra" id="data_compra" placeholder="data_compra">
    </div>


    <div style="color:green" >{{sucesso}}</div>
    <div style="color:red" >{{erro}}</div>
    <button type="button" class="btn btn-primary" (click)="salvar()">Salvar</button>
</div>

<div class="card">
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table m-0">
        <thead>
        <tr>
          <th>Nome</th>
          <th>Valor Taxa</th>
          <th>Vencimento</th>
          <th>data da compra</th>
          
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cdb of cdbs">
          <td>{{cdb.nome}}</td>
          <td>{{cdb.valor_taxa}}</td>
          <td>{{cdb.vencimento}}</td>
          <td>{{cdb.data_compra}}</td>
          <button class="btn btn-sm btn-warning mr-2" (click)="editar(cdb)">Editar</button>
          <button class="btn btn-sm btn-danger" (click)="excluir(cdb)">Excluir</button>

        </tr>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</div>