<div class="card mb-4 shadow-sm" >
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">CDB {{cdbDestaque.nome}}</h4>
    </div>
    <div class="card-body">
        <h1 class="card-title pricing-card-title">Taxa de Juros:{{cdbDestaque.valor_taxa}}% </h1>
        <p>Ao comprar o CDB do {{cdbDestaque.nome}} você ganhará a taxa de juros de
        {{cdbDestaque.valor_taxa}} % sobre o seu investimento </p>
    <button type="button" class="btn btn-lg btn-block btn-primary"> Investir</button>
</div>
</div>
