<app-header></app-header>
<main role="main" class="container">
  <div class="jumbotron">
    <h1>O que é Tesouro Direto</h1>
    <p class="lead">
      Tesouro Direto é um programa do Tesouro Nacional do Brasil implementado em 7 de janeiro de 2002 em parceria com a B3 (antiga BM&F Bovespa) e que possui o intuito de democratizar a compra e venda de títulos públicos federais por pessoas físicas através da internet.
    </p>
    <p class="lead">
      Os títulos públicos federais são ativos de renda fixa emitidos pelo Tesouro Nacional sob a forma escritural (meio eletrônico) ao público para financiamento do Déficit Orçamentário Geral da União e da Dívida Pública Federal, e custodiados por Central Depositária especializada e habilitada.
    </p>
    <p class="lead">
      A partir da implantação do Tesouro Direto, os poupadores ganharam uma forma alternativa e democrática de aplicação dos seus recursos com rentabilidade e segurança do governo federal. Além disso, os investidores se beneficiam de poder administrar diretamente seus próprios recursos, adequando os prazos e indexadores dos títulos aos seus interesses, pois até então, pessoas físicas só podiam investir em títulos públicos indiretamente através de fundos de investimentos. O Programa apresenta vantagens significativas de custos e de flexibilidade na escolha dos títulos públicos em termos de indexadores e prazos.
    </p>
  </div>
</main>
<app-footer></app-footer>
